	<section id="fh5co-home" data-section="home" style="background-image: url(images/W3RL_Pic_4.png); background-repeat: repeat-y;" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<!-- <img src="images/W3RL_Logo.png" alt="Web3 Research Lab" class="logo"> -->
							<!-- <img style="background-repeat:repeat-y;width: 400%; margin-left:-200%;" class="text-center animate" src="images/W3RL_Pic_4.png" alt="Web3 Research Lab" class="logo"> -->

							<h1 class="to-animate">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}
							<h2 class="to-animate">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>
