	<section id="fh5co-testimonials" data-section="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.testimonials.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.testimonials.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{{ range .Site.Params.testimonials.item }}
				<div class="col-md-4">
					<div style="height:20em !important;" class="box-testimony">
						<blockquote class="to-animate-2">
							<p>{{ .quote | markdownify}}</p>
						</blockquote>
						<div class="author to-animate">
							<figure><img src="images/{{ .img }}" alt="{{ .alt }}"></figure>
							<ul style="margin-top:10px; height: 40px; width:30%;" class="social social-circle text-center">
							{{ range .social }}
								<li><a style="color: #fff;margin-left:-20px;" href="{{ index . 1 }}"><i class="{{ index .  0 }}"></i></a></li>
							{{ end }}
							</ul>
							<p>{{ .person | markdownify }}</p><br>

						</div>
					</div>
				</div>
			{{ end }}
			</div>
		</div>
	</section>
